#main-bg {
	position: absolute;
	z-index: 0;
	background: url("bg.jpg") center;
	background-size: 100%;
	width: 100%;
	height: 100vh;
}

.main {
	color: #fff;
	background: rgba(0,0,0,0.5);
	height: 100vh;
	width: 100%;
	overflow: hidden;
	position: absolute;
	z-index: 2;
}

.heading {
	margin: 20px 0px;
}

.heading h1 {
	font-size: 65px;
	font-weight: 700;
}

.heading h1 span {
	display: block;
}

.heading h1 .lower {
	margin-top: -17px;
	margin-left: 90px;
}

.activity {
	position: absolute;
	width: 280vw;
}

.columns {
	width: 40vw;
	overflow: auto;
	padding: 50px 0px;
	float: left;
	margin: 0px 30vw;	
}
.columns a {
	color: #fff;
}

.columns a.main_link {
	color: #fff;
	font-size: 45px;
	font-weight: 600;
	text-align: center;
	border-bottom: 2px dashed #fff;
}

.columns a.main_link:hover {
	text-decoration: none;
}

.columns ul {
	list-style: none;
	padding-left: 25px;
	text-align: left;
	margin: 15px 0px;
	font-size: 16px;
	font-weight: 400;
	line-height: 35px;
}

.columns .column {
	float: left;
	width: 20vw;
	text-align: center;
}

.activity.active .column {
	width: 18vw;
	float: none;
}

.activity.active a.main_link {
	font-size: 35px;
}

.activity.active .columns {
	width: 20vw;
	margin-left: 0px;
	margin-right: 0px;
	padding: 0px;
}

.activity.active .button {
	display: none;
}

.activity {
	left: -80vw;
}

.activity.active.left {
	left: 0vw;
}

.activity.active.right {
	left: -78vw;
}

.activity.active.left .column {
	text-align: right;
}

.activity.active.right .column {
	text-align: left;
}

.activity.active.left .column ul {
	text-align: right;
}

.activity.active.right .column ul {
	padding-left: 0px;
}



.text {
	float: left;	
	width: 80vw;
	padding: 50px 5vw;
	padding-bottom: 0px;
	height: 75vh;
	overflow: hidden;
}

.text .padding {
	padding: 10vh 0px;
	content-align: center;
	vertical-align: middle;
}

.transition {
	transition: all 0.8s ease;
}

