@mixin transition($duration) {
	-webkit-transition: 	all $duration ease-out;
	-moz-transition: 	all $duration ease-out;
	-ms-transition: 	all $duration ease-out;
	-o-transition: 		all $duration ease-out;
	transition: 		all $duration ease-out;
}

@mixin no-transition() {
	-webkit-transition: 	none;
	-moz-transition: 	none;
	-ms-transition: 	none;
	-o-transition: 		none;
	transition: 		none;
}

@mixin rotate($deg) {
	-webkit-transform: 	rotate($deg);
	-moz-transform: 	rotate($deg);
	-ms-transform: 		rotate($deg);
	-o-transform: 		rotate($deg);
	transform: 		rotate($deg);
}

@mixin hidden() {
	@include transition(0.4s);

	pointer-events: none; 
	opacity: 0;

	&.active {
		pointer-events: auto;
		opacity: 1;
	}

	&.modal {
		@extend &.active;

		background: $bg_modal;
	}

	&.overlay {
		opacity: 1;

		background: $bg_overlay;
	}



}

@mixin interactive() {
	@include transition(0.25s);

	cursor: pointer;

	&:hover {
		opacity: 0.8;
	}

	&:active {
		opacity: 0.6;
	}
}

@mixin flex($justify, $align) {
	display: flex;
	justify-content: $justify;
	align-items: $align;
}