@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
body {
    margin: 0;
    background: #41525c center url(mar-bg.jpg) repeat-y;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 2.3vh;
    background-size: contain;
}

.marathon {
    width: 100%;
    font-weight: 400;
    color: #fff;
    text-align: justify;

    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 80%, rgba(0,0,0,.75) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(80%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,.75))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 80%,rgba(0,0,0,.75) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 80%,rgba(0,0,0,.75) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 80%,rgba(0,0,0,.75) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 80%,rgba(0,0,0,.75) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#BF000000',GradientType=0 ); /* IE6-9 */
}
.wrap {
    width: 65vw;
    box-sizing: border-box;
    margin: 0 auto;
    overflow-y: auto;
}

.wrap>div {
    width: 100%;    
}
.title {
    font-size: 2.1em;
    text-transform: uppercase;
    margin: 0 0 15px 0;
    text-align: center;
}
.title__link {
    color: inherit;
    text-decoration: none;
    font-weight: 600;
}
.title__radio {
    display: block;
    font-size: 1.6em;
}
.title__acoustic {
    font-weight: 300;
}
.info {
    width: 85vw;
    border-bottom: 2px solid #fff;
    padding-bottom: 18px;
    overflow: hidden;
    margin: 0 auto;
}
.info__about {
    max-width: 65%;
    float: left;
    margin: 0;
}
.info__begin {
    min-width: 20%;
    float: right;
    margin: 0;
    text-align: right;
    font-size: 1.5em;
}
.info__time {
    font-size: 1.9em;
    font-weight: 600;
}
.guests {
    margin-bottom: 20px;
}
.guests__lineup {
    display: flex;
    justify-content: space-between;
    margin: 15px 0px;
}
.guests__one {
    color: #fff;
    font-size: 1em;
}
.guests__one-big {
    font-size: 1.8em;
}

.guests__link {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
}
.guests__link:hover {
    background: rgba(255,255,255,.3);
    transition: .3s;
}
.player__youtube {
    width: 100%;
    height: 37vw;
    /* margin: 15px 0; */
    margin: 0 auto;
    display: block;
    margin-bottom: 2.3vh;
    box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.5);
}
.partners {
    min-height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px auto !important;
}
.partner__link {
    display: block;
    width: 10em;
    transition: all 0.3s ease 0s;
    margin: 20px;
}

.partner__link:hover {
    opacity: 0.7;
}
.partner-live {
    background: url(icon-live.png) center no-repeat;
    background-size: contain;
    height: 10em;
}
.partner-plcb {
    background: url(icon-plcb.png) center no-repeat;
    background-size: contain;
    height: 10em;
}
.partner-comma {
    background: url(icon-comma.png) center no-repeat;
    background-size: contain;
    height: 4em;
    margin: 0px;
}
.partner-vidro {
    background: url(icon-vidro.png) center no-repeat;
    background-size: contain;
    height: 4em;
}

.comments {
    background: rgba(255,255,255,0.9);
    color: #fff !important;
    padding: 3%;
    width: 94% !important;
    margin-top: em;
    margin: 0 auto;
}

.counter {
    display: block;
    margin: 15px auto 0 auto;
    width: 88px;
}

a.btn {
    display: inline-block;
    height: 1.5em;
    width: 1.5em;
    margin-bottom: -5px;
    transition: all 0.3s ease 0s;
}

a.btn:hover {
    opacity: 0.8;
}

a.btn.vk {
    background: url(b-w.png) center no-repeat;
    background-size: cover;
}

a.btn.fb {
    background: url(facebook29-w.png) center no-repeat;
    background-size: cover;
}

 /* Large Devices, Wide Screens */
    @media (max-width : 1200px) {
        body {
            font-size: 16px;
        }

        .wrap {
            width: 980px;
        }
        .player__youtube {
            height: 551px;
        }
    }

    /* Medium Devices, Desktops */
    @media (max-width : 992px) {
        body {
            font-size: 14px;
        }

        .wrap {
            width: 650px;
        }
        .player__youtube {
            height: 366px;
        }
    }

    /* Small Devices, Tablets */
    @media (max-width : 768px) {
        body {
            font-size: 12px;
        }

        .wrap {
            width: 480px;
        }
        .player__youtube {
            height: 270px;
        }
    }

    /* Extra Small Devices, Phones */ 
    @media (max-width : 480px) {
        .info__about {
            text-align: left;
        }

        .guests__lineup, .partners {
            -webkit-flex-direction: column;
            flex-direction: column;
            text-align: center;
            font-size: 16px;
        }

        .wrap {
            width: 100%;
            padding: 2vh 2vw;
        }
        .comments { 
            width: 95%;
        }
        .player__youtube {
            display: none;
        }
        .youtube_link {
            display: block;
        }
        .info_btns {
            font-size: 1.5em;
            text-align: center;
        }
    }

    /* Custom, iPhone Retina */ 
    @media (max-width : 320px) {
        
    }
