@import 'variables';
@import 'font';
@import 'chessboard';

@mixin transition($duration) {
	-webkit-transition: 	all $duration ease-out;
	-moz-transition: 	all $duration ease-out;
	-ms-transition: 	all $duration ease-out;
	-o-transition: 		all $duration ease-out;
	transition: 		all $duration ease-out;
}

@mixin no-back-transition() {
	-webkit-transition: 	none;
	-moz-transition: 	none;
	-ms-transition: 	none;
	-o-transition: 		none;
	transition: 		none;
}

@mixin rotate($deg) {
	-webkit-transform: 	rotate($deg);
	-moz-transform: 	rotate($deg);
	-ms-transform: 		rotate($deg);
	-o-transform: 		rotate($deg);
	transform: 		rotate($deg);
}

@mixin hidden() {
	@include transition(0.4s);

	pointer-events: none; 
	opacity: 0;

	&.active {
		pointer-events: auto;
		opacity: 1;
	}

	&.modal {
		@extend &.active;

		background: $bg_modal;
	}

	&.overlay {
		opacity: 1;

		background: $bg_overlay;
	}



}

@mixin interactive() {
	@include transition(0.25s);

	cursor: pointer;

	&:hover {
		opacity: 0.8;
	}

	&:active {
		opacity: 0.6;
	}
}

@mixin flex($justify, $align) {
	display: flex;
	justify-content: $justify;
	align-items: $align;
}

body {
	background: url(assets/novy-fon.jpg);
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	font-size: 1.8vw;
}

#modal {
	@include hidden();
	
	height: 100vh;
	width: 100vw;

	position: fixed;
	z-index: 99999;
}

#contents {
	@include hidden();

	font-family: 'eb_garamondregular', georgia;
	
	width: 94vw;
	height: 80vh;
	padding: 2vh 2vw;

	.home-back {
		background: url('assets/close.png') no-repeat;
		background-size: contain;

		width: 2em;
		height: 2em;

		position: absolute;

		top: 2em;
		right: 2em;
	}

	.contents-list {
		color: $book;
		text-align: center;
		font-size: 1em;
		line-height: 1.4em;
	}

	.contents-link {
		@include interactive();
	}
}

#loading {
	@include hidden();

	height: 15vh;
	width: 15vh;

	position: relative;
	top: 50%;
	margin-top: -7.5vh;
	left: 50%;
	margin-left: -7.5vh;

	background: url(assets/gears.svg) center no-repeat;

	background-size: 15vh;

	&.active {
		@include no-back-transition();
	}
}

#container {
	@include flex(center, center);

	width: 100%;
	height: 100%;
}


.page {	
	background: #FCFBE3;
	overflow: hidden;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	font-family: 'eb_garamondregular', georgia;
	color: #2c190e;


	&.even {
		background-image: url('assets/page-odd.png');
		background-position: left center;

		.inner {
			padding: 1.9em 1.9em 2.4em 2.4em;
		}
	}

	&.odd {
		background-image: url('assets/page-even.png');
		background-position: right center;

		.inner {
			padding: 1.9em 2.4em 2.4em 1.9em;			
		}

	}

	&.hard {
		background: #3a2828;
		background-size: 100% 100%;

		.endpaper {
			width: 99%;
			height: 99%;
			margin-top: 0.5%;
			background-size: 100% 100%;
		}

		&.front {
			background-image: url('assets/cover-front.png');

			.endpaper {
				margin-left: 1%;
				background-image: url('assets/endpaper-front.png');
			}
		}

		&.back {
			background-image: url('assets/cover-back.png');

			.endpaper {
				background-image: url('assets/endpaper-back.png');
			}
		}
	}

	.inner {		
		width: 18.65em;
		height: 24.5em;
		overflow: hidden;
		font-size: 0.8em;		
		line-height: 1.25em;
		

		video {
			width: 18.65em;
		}

		p {
			display: block;
			width: 100%;
			font-size: 1.05em;
			max-height: 21.3em;
			margin: 0;
			overflow: hidden;
			text-align: justify;
		}

		h2 {
			margin: 0;
			margin-bottom: 0.5em;
			text-align: center;
		}

		.page-number {
			margin-top: 0.75em;
			font-size: 1.5em;
			text-align: center;
			overflow: visible;
		}

		&.type0, &.type1 {
			p {
				height: 7.3em;
			}

			.page-number { 
				margin-top: 0.5em;
			}
		}

		&.type1 {
			p {
				margin-bottom: 0.69em;
			}

			h2+p {
				height: 3.8em;
				margin-bottom: 1.3em;
			}
		}

		&.type0 {
			p {
				margin-top: 0.69em;
			}
		}

		&.type2 {
			p {
				height: 21.3em;
			}

			h2+p {
				max-height: 19em;
			}
		}

		&.type3 {

			.board-bg {
				width: 18.65em;
				height: 18.65em;

				background: url('assets/board.png') no-repeat;
				background-size: 100% 100%;
			}

			#board {
				width: 17.3em;
				height: 17.3em;
				/*height: 17.25em;*/
				margin-left: 0.70em;
				padding-top: 0.72em;

				.black-3c85d, .white-1e1d7 {
					background: none;
					color: transparent;
				}

				.board-b72b1 {
					border: none;
					width: 17.25em !important;
				}

				.square-55d63 {
					width: 2.156em !important;
					height: 2.156em !important;

					img {
						width: 2.156em !important;
						height: 2.156em !important;
					}
				}


			}

			#game-status {
				height: 1.25em;
				overflow: visible;
				text-align: center;
				margin: 0.5em 0;
			}

			#game-reset {
				position: relative;
				font-size: 1.3em;
				display: block;
				text-align: center;
				margin: 0.5em 0;
				cursor: pointer;
			}

		}
	}
}

#controls {
	display: none;	
}

.arrow, .home {
	width: 2em;
	height: 2em;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;

	margin: 0 2em;

	@include interactive();
}

.arrow {
	background-image: url('assets/arrow.png');
	float: left;

	&.right {
		@include rotate(180deg);
		float: right;
	}
}

.home {
	background-image: url('assets/home.png');
	float: right;

	&.fuck-media-query-sadface {

		position: absolute;
		top: 3em;
	}
}



@media screen and (min-aspect-ratio: 4/3) and (max-aspect-ratio: 16/10) {
	body {
		font-size: 2.2vw;
	}

	#controls {
		@include flex(center, center);
		
		width: 100vw;
		height: 5.5em;
		position: fixed;
		bottom: 0px;

		.arrow {
			float: none !important;
		}
	}

	.fuck-media-query-sadface {

		display: none;
	}

	contents-list {
		font-size: 1.3em;
		line-height: 1.6em;
	}
}

@media screen and (max-width: 980) {
	
}

@media screen and (max-width: 480) {

}